@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

h1 {
    padding-bottom: 2vh;
    color: #3A3A3A;
    font-weight: 700;
    font-size: xx-large;
}

.sign-in__content input {
    display: block;
    width: 70%;
    height: 7vh;
    padding-left: 3vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;

    font-weight: 700;
    font-size: small;
    border-radius: 2vh;
    border-style: solid;
    border-color: #BFBFBF;
    border-width: 2px;
}


.conference-survey input {
    display: block;
    width: 70%;
    height: 7vh;
    padding-left: 3vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;

    font-weight: 700;
    font-size: small;
    border-radius: 2vh;
    border-style: solid;
    border-color: #BFBFBF;
    border-width: 2px;
}

button {
    display: block;
    width: 70%;
    height: 7vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    padding: 1vh;

    color: white;
    font-weight: 700;
    font-size: medium;
    border-style: solid;
    border-radius: 2vh;
    border-width: 0px;
}

hr {
    height: 1px;
    border: none;
    background-color: #E0E0E0;
    width: 75%;
}

.info-container hr {
    width: 100%;
}

a {
    font-weight: 700;
    color: #4C82F8;
    text-decoration: underline;
}

select {
    display: block;
    width: 25%;
    height: 7vh;
    padding-left: 3vh;
    margin-bottom: 3vh;

    font-weight: 700;
    font-size: small;
    border-radius: 2vh;
    border-color: #BFBFBF;
    border-width: 2px;
    background-color: white;
    color: #7d7975;
}

option {
    display: block;
    width: 20%;
    height: 7vh;
    padding-left: 3vh;
    margin-left: 2vw;
    margin-bottom: 3vh;

    font-weight: 700;
    font-size: small;
    border-radius: 2vh;
    border-color: #BFBFBF;
    border-width: 2px;
    background-color: white;
    color: #7d7975;
}


th, td {
    margin: 1vmax 2vmax 1vmax 2vmax;
    text-align: center;
    font-size: 1.2vmax;
}

td {
    padding-right: 2vmax;
    padding-left: 2vmax;
    padding-top: 1vmax;
    padding-bottom: 1vmax;

    background-color: white;
    font-weight: 500;
}

tr {
    margin-bottom: 2vmax;
}

table {
    border-spacing: 0 15px;
    margin-left: 1vmax;
}

p {
    margin-left: auto;
    margin-right: 15%;
}

.rdt_TableHeader {
    color: #3A3A3A !important;
    font-family: Montserrat !important;
    font-weight: 600;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.info-container p {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.left-rounded-corners {
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
}

.right-rounded-corners {
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.scroll {
    height: 83vh;
    overflow: scroll;
}

.user-name {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #3A3A3A;
}

.company {
    text-align: center;
    margin-top: 1px;
    color: #5C5C5C;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    color: #5C5C5C;
}

.table {
    width: 65%;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    margin-top: 5vh;
}

.table button {
    margin-bottom: 0;
}

.table select {
    width: 100%;
    margin-bottom: 0;
}

.card-container {
    background-color: white;
    width: 20vw;
    height: 20vw;
    margin: 5%;
    border-radius: 1rem;
}

.card-content {
    padding: 5%;
    box-sizing: content-box;
}

.card-details-container {
    display: flex;
    align-items: center;
}

.card-details {
    width: 50%;
}

.all-conferences {
    display: flex;
    flex-wrap: wrap;
}

.details {
    margin: 0;
    color: #3A3A3A;
    font-size: min(0.8rem);
}

.details-container {
    display: flex;
    gap: min(0.8rem);
    flex-grow: 2;
}

.book-conference {
    background-color: #5A9554;
    margin-bottom: 0;
    width: auto;
    margin: auto;
}

.icon {
    width: min(0.8rem);
    height: min(0.8rem);
}

.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

.calendar {
    width: 100%; 
}

::placeholder {
        color: #BFBFBF;
}

.fill {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.planner-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}



.user-info-container {
    margin-top: 4.6vh;
    
    width: 30%;
    border-radius: 0.5rem;
    background-color: white;
}

.info-titles {
    font-weight: 600;
    font-size: 14px;
    color: #3A3A3A;
}

.sign-in__container {
    position: relative;
    display: flex;
    float: right;
    min-width: 40%;
    height: 100vh;
    margin-left: auto;
    text-align: center;

    background-color: white;
    border-top-left-radius: 5vh;
    border-bottom-left-radius: 5vh;
}

.sign-in__content {
    position: absolute;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    top: 50%;
    height: 100vh;
    transform: translateY(-50%);
    width: 100%;
}

.background {
    width: 100%;
    min-height: 100vh;
    background-image: url('/hero.jpg') ; 
    background-size: contain;
    background-color: #4C82F8;
    background-blend-mode: multiply;
}

.status {
    margin-bottom: 5vh;
    margin-top: -1vh;
    color: green;
}

.load-animation {
    animation-duration: 1.5s;
    animation-name: fadeDown;
}

.fade {
    animation-duration: 1.5s;
    animation-name: fade;
}

.role-container {
    position: relative;
    display: flex;
    flex-direction: column; 
    width: 60%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.choice-container {
    position: absolute;
    display: flex;
    flex-direction: row; 
    margin-top: -5%;
    justify-content: center;
    top: 50%;
    height: 100vh;
    width: 100%;
}

.or {
    padding-right: 0;
    color: #BFBFBF;
    font-weight: 700;
    white-space: nowrap;
    margin-left: 2vw;
    margin-right: 2vw;
}


.private {
    height: 40%;
    padding-left: 1vmax;
    padding-right: 1vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5vmax;
    font-weight: 600;
    background-color: #E1BEBE;
    color: #976666;
}

.public {
    height: 40%;
    padding-left: 1vmax;
    padding-right: 1vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    text-align: center;
    font-weight: 600;
    background-color: #C2E1BE;
    color: #5a9554;
}

.choose {
    color: #BFBFBF;
    font-weight: 700;
    white-space: nowrap;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0;
}

.content {
    width: 100%;
    padding-left: 1vw;
}

.title {
    margin-bottom: 0;
    padding-bottom: 0;
    color: #3A3A3A;
}

.sub-title {
    color: #BFBFBF;
    font-weight: 700;
    margin-top: 0;
}

.inline {
    display: inline;
}

.date {
    width: auto;
}

.buttons-container {
    display: flex;
    flex-direction: row;
}

h1.role-title {
    padding-bottom: 0;
    margin-top: 15%;
    margin-bottom: 0;
    color: #3A3A3A;
}

button.choice:hover {
    animation: turnOrange linear 0.3s;
    background-color: #F88A4C !important;   
}

button.signout {
    width: 10vw;
    margin: 0;
    margin-left: auto;
    margin-right: 1vw;
}

button.delete {
    width: 10vw;
    margin: 0;
    height: 80%;
    border-radius: 0.5rem;
}

button.conference {
    margin-left: 0;
    width: 15vw;
}

input.conference {
    margin-left: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.planner-svg {
    transform: translateY(-40.1vh);
    visibility: hidden;
}

.attendee-svg {
    transform: translateY(-80vh);
    visibility: hidden;
}

.planner-choice {
    display: none;
}

.attendee-choice {
    display: none;
}

.default-choice {
    animation: fadeIn linear 0.3s;
}

#left:hover ~ .planner-svg {
    visibility: visible;
}

#left:hover ~ .planner-choice {
    display: block;
    animation: fadeIn linear 0.3s;
}

#left:hover ~ .default-choice {
    display: none;
}

#left:hover ~ .group-svg {
    visibility: hidden;
}

#right:hover ~ .attendee-svg {
    visibility: visible;
}

#right:hover ~ .group-svg {
    visibility: hidden;
}

#right:hover ~ .attendee-choice {
    display: block;
    animation: fadeIn linear 0.3s;
}

#right:hover ~ .default-choice {
    display: none;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes turnOrange {
    0% { background-color: #4C82F8; }
    100% { background-color: #F88A4C; }
}


@keyframes fadeDown {

    from  {
        opacity: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
    }
}
 
@keyframes fade {

    from  {
        opacity: 0;
        top: 50%;
    }

    to {
        opacity: 1;
        top: 50%;
    }
}


